.wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 1px;
    height: 76vh;
    left: 77%;

}

.el {

    position: fixed;
    opacity: 1;
    width: 2px;
    height: 24vh;
    /* margin-top: -12vh; */
    transform-origin: 50% 100%;
    background: white;
}