* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

html,
body {
	/* width: 100%;
	height: 100%; */
	overflow-x: hidden;
	background-color: #181818;
	font-family: 'Poppins', sans-serif;
}


.page_home {
	/* width: 100%; */
	/* height: 100%; */
	overflow-y: -moz-hidden-unscrollable;
	overflow-x: -moz-hidden-unscrollable;

}

.particles-js-canvas-el {
	overflow: -moz-hidden-unscrollable;
	overflow-x: -moz-hidden-unscrollable;

}


#particles {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #0f0f0f;
	overflow-x: visible;

}



h1 {
	position: absolute;
	top: 25%;
	color: #ffffff;
	font-size: 25vh;
	font-family: "bebas_neuebold", sans-serif;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	line-height: .75;
	overflow-y: hidden;
	margin-bottom: 1.66667rem;
	padding: 0 2rem;
	z-index: 2;
	left: 0px;
}

.highlight-word {
	position: relative;
}



.highlight-word::before {
	height: 45px;
	position: absolute;
	top: 50%;
	margin-top: -22px;
	display: block;
	z-index: 1;
}

.highlight-word::before {
	width: 104%;
	left: -2%;
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	content: '';
}

.highlight-word .highlight-inner {
	position: relative;
	z-index: 3;
}


.l_h1 {
	position: absolute;
	top: 67%;
	display: block;
	font-family: "bebas_neuebook", sans-serif;
	color: #fff;
	max-width: 600px;
	opacity: .8;
	font-size: 1.5em;
	letter-spacing: 1px;
	line-height: 1;
	overflow-y: hidden;
	padding: 0 2rem;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	line-height: .80;
	z-index: 2;
	left: 0vh;
}

.social {
	color: #fff;
	position: absolute;
	margin-left: 2vw;
	display: inline-block;
	top: 95%;

}

.social a:first-child {
	padding-left: 0;
}

.social a:last-child {
	padding-right: 0;
}

.social a {
	text-decoration: none;
	color: #fff;
	padding: 0rem 3rem;
	text-transform: uppercase;
	font-family: "mulibold", sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	position: relative;
	display: inline-block;
}

a {
	transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	text-decoration: none;
	color: #1573dd;
}

.social a span:hover {
	width: 104%;
	left: -2%;
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	content: '';
	border-radius: 20%;
	color: #000000;
	font-weight: bold;
}


.par {
	top: 100%;
	position: absolute;
	display: inline;
	text-align: center;
	align-items: center;
	border-bottom: 5px solid rebeccapurple;
	color: yellow;

}

.dot {
	top: 120%;
	position: absolute;
	width: 320px;
	height: 320px;
	left: 7%;
	background-image: url(/img/png/dot_pattern.png);
	background-repeat: repeat;
	background-size: 208px;
	background-position: center;
	opacity: .4;
	margin-bottom: 50px;
	display: flex;
}


h2 {
	top: 124%;
	left: 1.5em;
	position: relative;
	font-size: 5rem;
	line-height: .85;
	font-family: "bebas_neuebold", sans-serif;
	font-weight: normal;
	font-style: normal;
	color: white;
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline;
}

.highlight-word {
	position: relative;
}



.highlight-word2::before {
	height: 15px;
	position: absolute;
	top: 81.4%;
	margin-top: -22px;
	display: block;
	z-index: 1;
}

.highlight-word2::before {
	width: 103%;
	left: -2%;
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	content: '';
}

.highlight-word2 .highlight-inner2 {
	position: relative;
	z-index: 3;

}

.about {
	top: -140px;
	left: 40%;
	width: 100%;
	padding-right: 50%;
	position: relative;
	font-family: "mulibold", sans-serif;
	font-weight: normal;
	font-style: normal;
	color: white;
	font-size: 1.2vw;
	line-height: 2.3rem;
	display: flex;
	vertical-align: baseline;
	overflow-x: hidden;
}

.about_me {
	position: absolute;
	top: 125%;
}





.end{
	position: absolute;
	bottom: -100%;
	width: 100%;
	height: 170px;
	background-color: rgb(0, 0, 0);
	opacity: 50%;
	/* transform: translateY(-100%); */
	
}

.page_home svg{
	bottom: -100%;
	position: absolute;
	width: 200px;
	max-width: 731px;
	max-height: 673px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.end_p{
	position: absolute;
	bottom: -91%;
	padding:0rem 11rem;
	font-family: "mulibold", sans-serif;
	font-weight: bold;
	overflow: hidden;
	font-size: 1.3vw;
	display: block;
	width: 100%;
	background-image: linear-gradient(180deg, #5EFCE8 30%, #736EFE 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.mover{
	background-image: linear-gradient(135deg, #4cc9b8 30%, #736EFE 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.2vw;
	position: relative;
	left: 50%;
	text-transform: uppercase;
	z-index: 1;
	padding-bottom: 4px;
}

.mover::before {
	/* height: 7px; */
	position: relative;
	/* top: 81.4%; */
	
	/* display: block; */
	
}

.mover::before {
	width: 12%;
	/* left: 27.4%; */
	background-image: linear-gradient(135deg, #5da662 10%, #052707 100%);
	content: '';
}


.mover:focus:after,
.mover:focus:before,
.mover:hover:after,
.mover:hover:before {
    outline: 0;
    background-image: linear-gradient(135deg, #5da662 10%, #052707 100%);
	transition: all 1s ease 0s
	
}

.mover:before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
	height: 7px;
	
    bottom: 0;
	/* right: 0; */
	
	
}

.mover:focus:before,
.mover:hover:before {
    width: 100%;
	height: 100%
	
}







.proiecte {
	display: none;
	position: absolute;
	color: white;
	font-size: 40px;
	top: 50%;
	left: 50%;

}

.contact {
	display: none;
	position: absolute;
	color: white;
	font-size: 40px;
	top: 50%;
	left: 50%;
}








/* MENU&LOGO------------------------------------------ */









#demo {
	right: 9vw;
	top: -30px;
	width: 90vh;
	height: auto;
	max-width: 400px;

	opacity: 1;
	z-index: 1002;
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
}

#icons path {
	fill: white;
}

#stretchy {
	fill: #5da662;
	opacity: 0.5;
}

text {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	fill: rgba(255, 255, 255, 0.5);
}

#icons g {
	cursor: pointer;
}

#icons rect {
	fill: transparent;
	stroke: rgba(255, 255, 255, 0.15);
	stroke-width: 2px;
	rx: 8px;
	ry: 8px;
}

.logo {
	position: absolute;
	width: 200px;
	top: 20px;
	left: 2rem;
}










/* ANIM_HOME------------------------------------------ */










.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 1px;
	height: 76vh;
	/* left: 77vw; */
	margin-left: 77vw;
	overflow-x: hidden;

}

.el {
	position: fixed;
	opacity: 1;
	width: 2px;
	height: 24vh;
	/* margin-top: -12vh; */
	transform-origin: 50% 100%;
	background: white;
	overflow-x: hidden;
}













/* SCROLLBAR------------------------------------------ */






body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #181818;
}

body::-webkit-scrollbar-thumb {
	background: #5da662;
}








/* MOBILE------------------------------------------------ */





@media only screen and (max-width: 700px) {
	#demo {
		width: 100vw;
		left: -10px;
	}

	h1 {
		top: 30%;
		font-size: 17vh;
		padding: 0 0.5rem;
		z-index: 2;
	}

	.logo {
		display: none;
	}

	.social a {
		/* display: none; */
		font-size: 10px;
		padding: 0rem 10.5vw;
		z-index: 2;
	}

	.l_h1 {
		top: 61%;
		font-size: 1em;
		padding: 0 0.5rem;
		z-index: 2;
	}

	.highlight-word::before {
		height: 30px;
		top: 55%;
	}

	.el {

		margin-left: 35vw;
		height: 25vh;
	}

	.dot {

		width: 220px;
		height: 220px;
	}

	h2 {
		top: 124%;
		left: 1em;
		position: relative;
		font-size: 3rem;
	}

	.highlight-word2::before {
		height: 10px;
		top: 89.3%;

	}


	.about {
		top: 39px;
		margin-left: -30%;
		width: 100%;
		padding-right: 20%;
		position: relative;
		font-size: 1rem;
		line-height: 2.3rem;
		display: block;

	}

	.about_me {
		position: absolute;
		top: 125%;
		height: 700px;
	}

	.end{
		top: 215%;
		height: 120px;
	}

	.page_home svg{
		bottom: -130%;
		padding:0rem 2rem;
		left: 20%;
	}



	.end_p{
		
		bottom: -130%;
		padding:0rem 1rem;
		font-family: "mulibold", sans-serif;
		font-weight: bold;
		overflow: hidden;
		font-size: 1.2vh;
		display: flex;
		width: 100%;
		
	}
	
	.mover{
		background-image: linear-gradient(135deg, #4cc9b8 30%, #736EFE 80%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-size: 1.2vw;
		position: relative;
		left: 50%;
		text-transform: uppercase;
		z-index: 1;
		padding-bottom: 4px;
	} 
	


}


@media only screen and (min-height: 900px) {
	h2 {
		left: 3em;
	}

	#demo {
		right: 13vw;
	}

	.end{
		position: absolute;
		bottom: -100%;
		width: 100%;
		height: 215px;
		background-color: rgb(0, 0, 0);
		opacity: 50%;
		/* transform: translateY(-100%); */
		
	}
	
	.page_home svg{
		bottom: -100%;
		position: absolute;
		width: 250px;
		max-width: 731px;
		max-height: 673px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
	}

}