* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

html,
body {
	/* width: 100%;
	height: 100%; */
	overflow-x: hidden;
	background: #0f0f0f;
	font-family: 'Poppins', sans-serif;
}



/*  HOMEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE  */




.page_home {
	/* width: 100%; */
	/* height: 100%; */
	overflow-y: -moz-hidden-unscrollable;
	overflow-x: -moz-hidden-unscrollable;

}

.particles-js-canvas-el {
	overflow: -moz-hidden-unscrollable;
	overflow-x: -moz-hidden-unscrollable;

}


#particles {
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #0f0f0f;
	overflow-x: visible;

}



h1 {
	position: absolute;
	top: 25%;
	color: #ffffff;
	font-size: 25vh;
	font-family: "bebas_neuebold", sans-serif;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	line-height: .75;
	overflow-y: hidden;
	margin-bottom: 1.66667rem;
	padding: 0 2rem;
	z-index: 2;
	left: 0px;
}

.highlight-word {
	position: relative;
}



.highlight-word::before {
	height: 45px;
	position: absolute;
	top: 50%;
	margin-top: -22px;
	display: block;
	z-index: 1;
}

.highlight-word::before {
	width: 104%;
	left: -2%;
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	content: '';
}

.highlight-word .highlight-inner {
	position: relative;
	z-index: 3;
}


.l_h1 {
	position: absolute;
	top: 67%;
	display: block;
	font-family: "bebas_neuebook", sans-serif;
	color: #fff;
	max-width: 600px;
	opacity: .8;
	font-size: 1.5em;
	letter-spacing: 1px;
	line-height: 1;
	overflow-y: hidden;
	padding: 0 2rem;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	line-height: .80;
	z-index: 2;
	left: 0vh;
}

.social {
	color: #fff;
	position: absolute;
	margin-left: 2vw;
	display: inline-block;
	top: 95%;

}

.social a:first-child {
	padding-left: 0;
}

.social a:last-child {
	padding-right: 0;
}

.social a {
	text-decoration: none;
	color: #fff;
	padding: 0rem 3rem;
	text-transform: uppercase;
	font-family: "mulibold", sans-serif;
	font-size: 13px;
	letter-spacing: 1px;
	position: relative;
	display: inline-block;
}

a {
	transition: all .2s linear;
	-moz-transition: all .2s linear;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	text-decoration: none;
	color: #1573dd;
}

.social a span:hover {
	width: 104%;
	left: -2%;
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	content: '';
	border-radius: 20%;
	color: #000000;
	font-weight: bold;
}


.par {
	top: 100%;
	position: absolute;
	display: inline;
	text-align: center;
	align-items: center;
	border-bottom: 5px solid rebeccapurple;
	color: yellow;

}

.dot {
	top: 120%;
	position: absolute;
	width: 320px;
	height: 320px;
	left: 7%;
	background-image: url(/img/png/dot_pattern.png);
	background-repeat: repeat;
	background-size: 208px;
	background-position: center;
	opacity: .4;
	margin-bottom: 50px;
	display: flex;
}


h2 {
	top: 124%;
	left: 1.5em;
	position: relative;
	font-size: 5rem;
	line-height: .85;
	font-family: "bebas_neuebold", sans-serif;
	font-weight: normal;
	font-style: normal;
	color: white;
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline;
}

.highlight-word {
	position: relative;
}



.highlight-word2::before {
	height: 15px;
	position: absolute;
	top: 81.4%;
	margin-top: -22px;
	display: block;
	z-index: 1;
}

.highlight-word2::before {
	width: 103%;
	left: -2%;
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	content: '';
}

.highlight-word2 .highlight-inner2 {
	position: relative;
	z-index: 3;

}

.about {
	top: -140px;
	left: 40%;
	width: 100%;
	padding-right: 50%;
	position: relative;
	font-family: "mulibold", sans-serif;
	font-weight: normal;
	font-style: normal;
	color: white;
	font-size: 1.2vw;
	line-height: 2.3rem;
	display: flex;
	vertical-align: baseline;
	overflow-x: hidden;
}

.about_me {
	position: absolute;
	top: 125%;
}








.end {
	position: absolute;
	top: 178%;
	width: 100%;
	height: 155px;
	background-color: rgb(8, 8, 8);
	opacity: 90%;
	/* transform: translateY(-100%); */

}

.page_home svg {
	/* bottom: -100%; */
	top: 3%;
	position: absolute;
	width: 170px;
	max-width: 731px;
	max-height: 673px;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
}

.end_p {
	position: absolute;
	top: 40%;
	/* bottom: -91%; */
	left: 10%;
	font-family: "mulibold", sans-serif;
	font-weight: bold;
	overflow: hidden;
	font-size: 1.3vw;
	display: inline;
	background-image: linear-gradient(180deg, #5EFCE8 30%, #736EFE 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.mover {
	background-image: linear-gradient(135deg, #4cc9b8 30%, #736EFE 80%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 1.2vw;
	position: relative;
	font-weight: bold;
	left: 80%;
	text-transform: uppercase;
	z-index: 2;
	padding-bottom: 4px;
	/* bottom: -91%; */
	top: 40%;
}

.mover::before {
	/* height: 7px; */
	position: relative;
	/* top: 81.4%; */

	/* display: block; */
	z-index: 1;

}

.mover::before {
	width: 12%;
	/* left: 27.4%; */
	background-image: linear-gradient(135deg, #5da662 10%, #052707 100%);
	content: '';
	/* opacity: 30%; */
}


.mover:focus:after,
.mover:focus:before,
.mover:hover:after,
.mover:hover:before {
	outline: 0;
	background-image: linear-gradient(135deg, #5da662 10%, #052707 100%);
	transition: all 1s ease 0s
}

.mover:before {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 7px;

	bottom: 0;
	/* right: 0; */


}

.mover:focus:before,
.mover:hover:before {
	width: 100%;
	height: 100%
}







/*  PROJECTSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */







.proiecte {
	display: none;

}

.anim,
.anim svg {
	position: fixed;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;

}

.anim path {
	stroke-width: 1;
	opacity: 20%;
}


.box1 {
	position: absolute;
	width: 70vh;
	height: 36vh;
	top: 20%;
	left: 11%;

}

.vit {
	position: absolute;
	width: 35vh;
	padding: 4%;
	left: 0%;

}

.vitaminer_titlu {
	top: 20%;
	left: 40%;
	position: absolute;
	color: white;
	font-size: 6vh;
	line-height: .85;
	font-family: "bebas_neuebold", sans-serif;
	font-weight: normal;
	font-style: normal;
	color: white;
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline;
}

.vitaminer_despre {
	position: absolute;
	opacity: .8;
	color: white;
	font-family: "muliregular", sans-serif;
	font-weight: normal;
	font-style: normal;
	left: 50%;
	top: 40%;
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline;
	font-size: 2vh;
}



.highlight-word3::before {
	height: 0.3vh;
	position: absolute;
	top: 73.2%;
	display: block;
	z-index: 1;
	width: 7%;
	left: 50%;
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	content: '';
}



.highlight-word3 .highlight-inner3 {
	position: absolute;
	opacity: 1;
	color: white;
	font-family: "muliregular", sans-serif;
	font-weight: normal;
	font-style: normal;
	left: 58%;
	top: 70%;
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline;
	font-size: 2.3vh;
	opacity: .8;
	text-transform: uppercase;

}







.box2 {
	position: absolute;
	width: 70vh;
	height: 36vh;
	top: 51%;
	right: 11%;

}

.unity {
	position: absolute;
	width: 35vh;
	padding: 4%;
	z-index: 9;
	left: 0%;
}

.unity_titlu {
	top: 20%;
	left: 40%;
	position: absolute;
	color: white;
	font-size: 6vh;
	line-height: .85;
	font-family: "bebas_neuebold", sans-serif;
	font-weight: normal;
	font-style: normal;
	color: white;
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline;
	z-index: 9;
}

.unity_despre {
	position: absolute;
	opacity: .8;
	color: white;
	font-family: "muliregular", sans-serif;
	font-weight: normal;
	font-style: normal;
	left: 50%;
	top: 40%;
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline;
	font-size: 2vh;
}



.highlight-word4::before {
	height: 0.3vh;
	position: absolute;
	top: 73.2%;
	display: block;
	z-index: 99;
	width: 7%;
	left: 50%;
	background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
	content: '';
}


.highlight-word4 .highlight-inner4 {
	position: absolute;
	opacity: 1;
	color: white;
	font-family: "muliregular", sans-serif;
	font-weight: normal;
	font-style: normal;
	left: 58%;
	top: 70%;
	overflow-x: hidden;
	overflow-y: hidden;
	display: inline;
	font-size: 2.3vh;
	opacity: .8;
	text-transform: uppercase;
	z-index: 99;

}








/* CONTACTSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */






.contact {
	display: none;

}

.content {
	position: absolute;
	width: 50%;
	top: 30%;
	left: 50%;
	transform: translateX(-50%);
}



form {
	margin: 0 0 2rem 0;
}

form> :last-child {
	margin-bottom: 0;
}

form>.fields {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -2rem 0 2rem -2rem;
	width: calc(100% + 4rem);
}

form>.fields>.field {
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	padding: 2rem 0 0 2rem;
	width: calc(100% - 2rem);
}

form>.fields>.field> :last-child {
	margin-bottom: 0;
}

form>.fields>.field.half {
	width: calc(50% - 1rem);
}

form>.fields>.field.third {
	width: calc(100%/3 - 0.66667rem);
}

form>.fields>.field.quarter {
	width: calc(25% - 0.5rem);
}



input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="subject"],
input[type="url"],
select,
textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	border-radius: 0.325rem;
	border: solid 2px rgba(144, 144, 144, 0.25);
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1rem;
	text-decoration: none;
	width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
input[type="tel"]:invalid,
input[type="search"]:invalid,
input[type="subject"]:invalid,
input[type="url"]:invalid,
select:invalid,
textarea:invalid {
	box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="search"]:focus,
input[type="subject"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
	border-color: #2ee4bb;
}

label {
	color: #000000;
	display: block;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 0.75rem;
	font-weight: 600;
	letter-spacing: 0.175em;
	line-height: 1.75;
	margin: 0 0 1rem 0;
	text-transform: uppercase;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="subject"],
input[type="url"] {
	height: 3rem;
}

select {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(144, 144, 144, 0.25)' /%3E%3C/svg%3E");
	background-position: calc(100% - 1rem) center;
	background-repeat: no-repeat;
	background-size: 1.25rem;
	height: 3rem;
	padding-right: 3rem;
	text-overflow: ellipsis;
}

select option {
	background-color: #ffffff;
	color: #000000;
}

select:focus::-ms-value {
	background-color: transparent;
}

select::-ms-expand {
	display: none;
}

textarea {
	padding: 0.75rem 1rem;
}

input[type="checkbox"],
input[type="radio"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	display: block;
	float: left;
	margin-right: -2rem;
	opacity: 0;
	width: 1rem;
	z-index: -1;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	display: inline-block;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 1rem;
	font-weight: 300;
	letter-spacing: 0.0375em;
	padding-left: 2.675rem;
	padding-right: 0.875rem;
	position: relative;
	text-transform: none;
}

input[type="checkbox"]+label:before,
input[type="radio"]+label:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	text-transform: none !important;
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
}

input[type="checkbox"]+label:before,
input[type="radio"]+label:before {
	border-radius: 0.325rem;
	border: solid 2px rgba(144, 144, 144, 0.25);
	content: '';
	display: inline-block;
	font-size: 0.8rem;
	height: 2.25rem;
	left: 0;
	line-height: 2.25rem;
	position: absolute;
	text-align: center;
	top: -0.15rem;
	width: 2.25rem;
}

input[type="checkbox"]:checked+label:before,
input[type="radio"]:checked+label:before {
	content: '\f00c';
	background-color: #49fcd4;
	border-color: #49fcd4;
	color: #ffffff;
}

input[type="checkbox"]:focus+label:before,
input[type="radio"]:focus+label:before {
	border-color: #49fcd4;
	box-shadow: 0 0 0 1px #49fcd4;
}

input[type="checkbox"]+label:before {
	border-radius: 0.325rem;
}

input[type="radio"]+label:before {
	border-radius: 100%;
}

::-webkit-input-placeholder {
	opacity: 1.0;
	color: rgba(0, 0, 0, 0.25) !important;
}

:-moz-placeholder {
	opacity: 1.0;
	color: rgba(0, 0, 0, 0.25) !important;
}

::-moz-placeholder {
	opacity: 1.0;
	color: rgba(0, 0, 0, 0.25) !important;
}

:-ms-input-placeholder {
	opacity: 1.0;
	color: rgba(0, 0, 0, 0.25) !important;
}









input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
	-webkit-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
	-ms-transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
	transition: background-color 0.25s ease-in-out, box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
	background-color: transparent;
	border-radius: 0.325rem;
	border: 0;
	box-shadow: inset 0 0 0 2px rgba(144, 144, 144, 0.25);
	color: #000000 !important;
	cursor: pointer;
	display: inline-block;
	font-family: "Raleway", Helvetica, sans-serif;
	font-size: 0.6rem;
	font-weight: 600;
	height: 3rem;
	letter-spacing: 0.175em;
	line-height: 3rem;
	padding: 0 2rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
	box-shadow: inset 0 0 0 2px #2ee4bb;
	color: #2ee4bb !important;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
	background-color: rgba(73, 252, 212, 0.25);
	box-shadow: inset 0 0 0 2px #2ee4bb;
	color: #2ee4bb !important;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
	font-size: 0.5rem;
	height: 2.25rem;
	line-height: 2.25rem;
	padding: 0 1.25rem;
}

input[type="submit"].large,
input[type="reset"].large,
input[type="button"].large,
button.large,
.button.large {
	font-size: 0.7rem;
	height: 3.2625rem;
	line-height: 3.2625rem;
	padding: 0 3.25rem;
}

input[type="submit"].wide,
input[type="reset"].wide,
input[type="button"].wide,
button.wide,
.button.wide {
	min-width: 13rem;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
	margin-right: 0.5rem;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
	width: 100%;
}

input[type="submit"].disabled,
input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
	pointer-events: none;
	opacity: 0.25;
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
	background-color: #49fcd4;
	box-shadow: none;
	color: #000000 !important;
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
	background-color: #93ffe7;
}

input[type="submit"].primary:active,
input[type="reset"].primary:active,
input[type="button"].primary:active,
button.primary:active,
.button.primary:active {
	background-color: #44f2cb;
}













/* MENU&LOGO------------------------------------------ */









#demo {
	right: 9vw;
	top: -30px;
	width: 90vh;
	height: auto;
	max-width: 400px;

	opacity: 1;
	z-index: 1002;
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
}

#icons path {
	fill: white;
}

#stretchy {
	fill: #5da662;
	opacity: 0.5;
}

text {
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
	fill: rgba(255, 255, 255, 0.5);
}

#icons g {
	cursor: pointer;
}

#icons rect {
	fill: transparent;
	stroke: rgba(255, 255, 255, 0.15);
	stroke-width: 2px;
	rx: 8px;
	ry: 8px;
}

.logo {
	position: absolute;
	width: 200px;
	top: 20px;
	left: 2rem;
}










/* ANIM_HOME------------------------------------------ */










.wrapper {
	position: relative;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	width: 1px;
	height: 76vh;
	/* left: 77vw; */
	margin-left: 77vw;
	overflow-x: hidden;

}

.el {
	position: fixed;
	opacity: 1;
	width: 2px;
	height: 24vh;
	/* margin-top: -12vh; */
	transform-origin: 50% 100%;
	background: white;
	overflow-x: hidden;
}













/* SCROLLBAR------------------------------------------ */






body::-webkit-scrollbar {
	width: 0.25rem;
}

body::-webkit-scrollbar-track {
	background: #181818;
}

body::-webkit-scrollbar-thumb {
	background: #5da662;
}








/* MOBILE------------------------------------------------ */





@media only screen and (max-width: 700px) {
	#demo {
		width: 100vw;
		left: -10px;
	}

	h1 {
		top: 30%;
		font-size: 17vh;
		padding: 0 0.5rem;
		z-index: 2;
	}

	.logo {
		display: none;
	}

	.social a {
		/* display: none; */
		font-size: 10px;
		padding: 0rem 10.5vw;
		z-index: 2;
	}

	.l_h1 {
		top: 61%;
		font-size: 1em;
		padding: 0 0.5rem;
		z-index: 2;
	}

	.highlight-word::before {
		height: 30px;
		top: 55%;
	}

	.el {

		margin-left: 35vw;
		height: 25vh;
	}

	.dot {

		width: 220px;
		height: 220px;
	}

	h2 {
		top: 124%;
		left: 1em;
		position: relative;
		font-size: 3rem;
	}

	.highlight-word2::before {
		height: 10px;
		top: 89.3%;

	}


	.about {
		top: 39px;
		margin-left: -30%;
		width: 100%;
		padding-right: 20%;
		position: relative;
		font-size: 1rem;
		line-height: 2.3rem;
		display: block;

	}

	.about_me {
		position: absolute;
		top: 125%;
		height: 700px;
	}

	.end {

		top: 210%;
		height: 132px;
		transform: translateY(100%);
		overflow-x: hidden;
		overflow-y: hidden;
	}

	.page_home svg {

		width: 40%;
		left: 21%;

	}



	.end_p {
		top: 20%;
		left: 25%;

		overflow: hidden;
		font-size: 0.8rem;
		display: inline;

	}



	.mover {
		top: 50%;
		left: 44%;
		font-size: 1.8vh;

	}

	.anim,
	.anim svg {
		transform: scale(2);
		left: 15%;

	}



	.box1 {
		position: absolute;
		width: 90vw;
		height: 25vh;
		top: 20%;
		left: 2%;

	}

	.vit {
		position: absolute;
		width: 24vh;
		padding: 4%;

	}

	.vitaminer_titlu {
		font-size: 5vh;
		top: 15%;

	}



	.vitaminer_despre {
		font-size: 1rem;
		left: 55%;
	}

	.highlight-word3::before {
		height: 0.3vh;
		position: absolute;
		top: 79%;
		display: block;
		z-index: 1;
		width: 7%;
		left: 50%;
		background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
		content: '';
	}



	.highlight-word3 .highlight-inner3 {
		position: absolute;
		opacity: 1;
		color: white;
		font-family: "muliregular", sans-serif;
		font-weight: normal;
		font-style: normal;
		left: 60%;
		top: 75%;
		overflow-x: hidden;
		overflow-y: hidden;
		display: inline;
		font-size: 2vh;
		opacity: .8;
		text-transform: uppercase;

	}


	.box2 {
		position: absolute;
		width: 90vw;
		height: 25vh;
		top: 55%;
		left: 2%;

	}

	.unity {
		position: absolute;
		width: 24vh;
		padding: 4%;

	}

	.unity_titlu {
		font-size: 5vh;
		top: 15%;

	}


	.unity_despre {
		font-size: 1rem;
		left: 55%;
	}

	.highlight-word4::before {
		height: 0.3vh;
		position: absolute;
		top: 79%;
		display: block;
		z-index: 9;
		width: 7%;
		left: 50%;
		background-image: linear-gradient(135deg, #5EFCE8 10%, #736EFE 100%);
		content: '';
	}



	.highlight-word4 .highlight-inner4 {
		position: absolute;
		opacity: 1;
		color: white;
		font-family: "muliregular", sans-serif;
		font-weight: normal;
		font-style: normal;
		left: 60%;
		top: 75%;
		overflow-x: hidden;
		overflow-y: hidden;
		display: inline;
		font-size: 2vh;
		opacity: .8;
		text-transform: uppercase;

	}

	.content {
		width: 80%;
		top: 20%;
	}


}





@media only screen and (min-height: 900px) {
	h2 {
		left: 3em;
	}

	#demo {
		right: 13vw;
	}

	.end {
		position: absolute;
		bottom: -100%;
		width: 100%;
		height: 205px;
		background-color: rgb(8, 8, 8);
		opacity: 90%;
		/* transform: translateY(-100%); */

	}

	.page_home svg {
		top: 2%;
		position: absolute;
		width: 240px;
		max-width: 731px;
		max-height: 673px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
	}

	.highlight-word4::before {
		height: 0.4vh;
	}

}